doctype html
html(lang="en")
  head
    title Live Text Share
    link(rel='stylesheet', href='/static/style.css')

  body
    //- h2 Live Text Share
    textarea(id='textarea', autocomplete="off", autofocus,
             onkeyup="app.textChange()", rows="8", cols="30")!= text

    script(src="/socket.io/socket.io.js")
    script(src="/static/app.js")
    script(src="/static/client.js")
