doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Live edit text between multiple users.")
    meta(name="keywords" content="Live edit text between multiple users.")
    meta(name="author" content="Austin Heiman")

    title Live Text Share
    link(rel='stylesheet', href='/static/style.css')

  body
    //- h2 Live Text Share
    textarea(id='textarea', autocomplete="off", autofocus,
             onkeyup="app.textChange()", rows="8", cols="30")!= text

    script(src="/socket.io/socket.io.js")
    script(src="/static/app.js")
    script(src="/static/client.js")
